
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.content {
  flex: 1;
}

.reg-form {
  max-width: 930px;
  height: 510px;
  border-radius: 10px;
  background-color: #000000;
  background-image: linear-gradient(to left, #3bc8e7 0%, #20a7c4 100%);
}

.photo {
  margin: 58px 0 0 36px;
}

h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  /*line-height: 50px;*/
  margin-top: 60px;
  margin-bottom: 0;
  width: 410px;
}

.form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

form {
  width: 410px;
}

.form input {
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 18px;
}

.divider {
  width: 410px;
}

button {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #3bc8e7;
  margin-top: 10px;
  margin-bottom: 20px;
}

.already-have-p {
  height: 15px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.already-have-p a {
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}
