<div class="login-form-block">
  <div class="login-form-headphones-pic"></div>
  <div class="login-form-contents">
    <h5 class="login-signature">Login / Sign in</h5>
    <form class="login-form" (ngSubmit)="submitLoginForm()">
      <p class="login-invalid-message" hidden>User does not exist</p>
      <p class="login-invalid-message" [hidden]="login.untouched || login.valid">You have not entered login</p>
      <input type="text" name="login-name-input" placeholder="Enter Your Email" class="login-name-input"  [(ngModel)]="visitor.login" #login="ngModel" required pattern="\w+">
      <p class="password-invalid-message" hidden>Wrong password</p>
      <p class="password-invalid-message"[hidden]=" password.untouched || password.valid">You have not entered password</p>
      <input type="text" name="login-email-input" placeholder="Enter Password" class="login-email-input" [(ngModel)]="visitor.password"  required #password="ngModel" pattern="\w+">
      <div class="login-remember-me-checkbox-block">
        <input type="checkbox" name="login-remember-me-checkbox" id="login-remember-me-checkbox" (click)="setRememberMeAuthMode()">
        <label for="login-remember-me-checkbox" class="login-remember-me-checkbox-label">Keep Me Signed In</label>
      </div>
      <input type="submit" name="login-submit-button" class="login-submit-button" value="LOGIN" [disabled]="login.pristine || login.invalid ||
      password.pristine || password.untouched || password.invalid">
      <input type="reset" class="reset-authorization-form-button" hidden>
    </form>
    <a class="forgot-password-link" href="#">Forgot Password?</a>
    <p class="register-link">Don't have an account? <button (click)="switchToRegistrationComponent()">Register Here</button></p>
  </div>
  <a class="close-button" (click)="closeLoginComponent()"><img src="assets/icons/close-button.png"></a>
</div>

