/backend/target/
/backend/*.iml
/backend/target/*.class
/target/
/storage/*.mp3
!.mvn/wrapper/maven-wrapper.jar
/mvn/
mvnw.cmd
mvnw
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea/
/backend/*.iml
/backend/.idea/
*.iml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/backend/.idea