<section class="user-profile-block">
  <figure class="user-profile-picture"></figure>
  <figure class="user-profile-info">
    <p class="user-profile-info-login">Login</p>
    <p class="user-profile-info-registration-date">Been around since: 16.06.2019</p>
    <p class="user-profile-info-liked-tracks">Liked tracks: 0</p>
    <p class="user-profile-info-liked-albums">Liked albums: 0</p>
    <p class="user-profile-info-favourite-genres">Favourite Genres: Pop, Indie, Rock, Instrumental</p>
    <p class="user-profile-info-description">Like the init daemon, systemd is a daemon that manages other daemons, which, including systemd itself, are background processes. systemd is the first daemon to start during booting and the last daemon to terminate during shutdown. The systemd daemon serves as the root of the user space's process tree; the first process (PID 1) has a special role on Unix systems, as it replaces the parent of a process when the original parent terminates. Therefore, the first process is particularly well suited for the purpose of monitoring daemons; systemd attempts to improve in that particular area over the traditional approach, which would usually not restart daemons automatically but only launch them once without further monitoring.
    </p>
  </figure>
  <figure class="last-user-liked-music">
    <last-user-liked-albums></last-user-liked-albums>
    <last-user-liked-tracks></last-user-liked-tracks>
  </figure>
</section>
