<section class="users-block">
  <p class="users-signature">Users</p>
  <figure class="ban-user-section">
    <label for="ban-user-login-input" class="ban-user-label">Find user or artist to ban by login</label>
    <input type="text" placeholder="Enter user's or artist's login" id="ban-user-login-input" class="ban-user-login-input">
    <button class="find-user-to-ban-button">Find</button>
  </figure>
  <figure class="user-or-artist-found-to-be-banned-section">
    <p style="margin-left: 20px"><span class="found-signature">Found:</span> Maroon5</p>
    <p>Date of registration: 10.10.2020</p>
    <button class="delete-button">Delete this user/artist</button>
  </figure>
  <figure class="user-or-artist-not-found">
    <p class="login-not-found-signature">Login not found!</p>
  </figure>
  <figure class="user-or-artist-successfully-deleted-message">Ban success!</figure>
  <figure class="user-or-artist-deletion-failed-message">Sorry, ban failed!</figure>
</section>
