<div class="upload-form">
  <p class="upload-your-music-signature">Upload & Share Your Music With The World </p>
  <img src="src/assets/images/upload-picture.png" class="upload-picture">
  <label for="select-file-input" class="select-file-input">Select File</label>
  <input type="file" name="select-file-input" id="select-file-input"
         class="select-file-input" value="Select File" style="display: none;">
  <p class="drag-your-files-signature">Or</p>
  <p class="drag-your-files-signature">Drag And Drop Music Files</p>
</div>
<div class="track-information-form-block">
  <p class="track-information-signature">Track Information</p>
  <form class="track-information-form">
    <div class="track-information-form-item">
      <label for="input" style="display: block;">Track Name*</label>
      <input type="text" name="name" id="input" class="track-information-form-input" placeholder="Track Name">
    </div>
    <div class="track-information-form-item">
      <label for="input-info" style="display: block;">Artist's Name*</label>
      <input type="text" name="name" id="input-info" class="track-information-form-input" placeholder="Artist's name">
    </div>
    <div class="track-information-form-item">
      <label for="input" style="display: block;">Select Album</label>
      <select class="track-information-form-input">
        <option>Some option</option>
        <option>Some option</option>
        <option>Some option</option>
      </select>
    </div>
    <div class="track-information-form-item">
      <label for="input" style="display: block;">Select Privacy</label>
      <select class="track-information-form-input">
        <option>Some option</option>
        <option>Some option</option>
        <option>Some option</option>
      </select>
    </div>
    <div style="text-align: center;">
      <input type="submit" name="upload-button" class="track-information-form-button" value="Upload">
      <input type="submit" name="cancel-button" class="track-information-form-button" value="Cancel">
    </div>

  </form>
</div>
