<div class="album-page-container">
  <div class="album-info">
    <p class="album-price">5$</p>
    <button class="add-to-cart-button">Add To Cart</button>
    <img src="assets/images/track-cover.jpg" class="album-cover">
    <div class="album-info-contents">
      <h6 class="album-title">Let Me Love you</h6>
      <p class="album-author">By - Harry Jackson, Jennifer Kelly</p>
      <p class="album-release-date">Release Date: 09. 09. 2018</p>
      <p class="album-language">Language: English</p>
      <p class="album-number-of-songs">6</p>
      <p class="album-length">5.10</p>
      <p class="album-genres">Genres: Pop, Indie-Pop, Hipster-Pop</p>
      <p class="album-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into […]</p>
    </div>
  </div>
  <table class="album-tracks-list">
    <th style="padding-right: 50px">#</th>
    <th style="padding-right: 95px">Song Title</th>
    <th style="padding-right: 125px">Artist</th>
    <th style="padding-right: 65px">Duration</th>
    <th style="padding-right: 30px">Add to Favourites</th>
    <th style="padding-right: 30px">More</th>
    <th style="padding-right: 30px">Add to Cart</th>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Let me love you</td>
      <td>Some cool artist</td>
      <td>5.10</td>
      <td><3</td>
      <td>More</td>
      <td><button class="add-track-to-cart-button">Add To Cart</button></td>
    </tr>
  </table>
  <similar-tracks></similar-tracks>
  <section class="album-page-comments-section">
      <div class="album-page-comments-part">
        <h5 class="album-page-comments-signature">Comments</h5>
        <figure class="album-page-comment">
          <div class="album-page-comment-author-data">
            <img class="album-page-comment-author-image"src="assets/images/armin.jpg" >
            <div class="album-page-comment-author-and-date-block">
              <p class="album-page-comment-author-name">Alex Smith</p>
              <p class="album-page-comment-date">22. 06. 2019 19.00</p>
            </div>
          </div>
          <p class="album-page-comment-content">This is such an amazing track! I liked it form the very first moment</p>
        </figure>
      </div>
      <div class="album-page-comments-form-block">
        <h5 class="album-page-comments-signature">Leave your comment here...</h5>
        <form class="album-page-comments-form">
          <textarea class="album-page-comments-form-text-input" placeholder="Enter Your Comment Here..." maxlength="1024"></textarea>
          <input type="submit" class="album-page-comments-form-submit-button" value="Post Your Comment">
        </form>
      </div>
  </section>

</div>

