<section class="featured-music-block">
  <div class="show-featured-music-block">
    <div style="display: flex">
      <p class="featured-music-signature">Featured Artists</p>
      <p class="featured-music-signature">Featured Albums</p>
    </div>
    <div style="display: flex">
      <div class="featured-artists-block">
        <figure class="featured-artist-item">
          <p class="featured-artist-name">Maroon5</p>
          <button class="delete-featured-artist-button">Delete from featured</button>
        </figure>
        <figure class="featured-artist-item">
          <p class="featured-artist-name">Maroon5</p>
          <button class="delete-featured-artist-button">Delete from featured</button>
        </figure>
        <figure class="featured-artist-item">
          <p class="featured-artist-name">Maroon5</p>
          <button class="delete-featured-artist-button">Delete from featured</button>
        </figure>
      </div>
      <div class="featured-albums-block">
        <figure class="featured-album-item">
          <p class="artist-name">Artist: Maroon5</p>
          <p class="album-title">Overexposed</p>
          <p class="album-release-date">2002</p>
          <button style="margin-left: 20px" class="delete-featured-album-button">Delete from featured</button>
        </figure>
        <figure class="featured-album-item">
          <p class="artist-name">Artist: Maroon5</p>
          <p class="album-title">Overexposed</p>
          <p class="album-release-date">2002</p>
          <button style="margin-left: 20px" class="delete-featured-album-button">Delete from featured</button>
        </figure>
        <figure class="featured-album-item">
          <p class="artist-name">Artist: Maroon5</p>
          <p class="album-title">Overexposed</p>
          <p class="album-release-date">2002</p>
          <button style="margin-left: 20px" class="delete-featured-album-button">Delete from featured</button>
        </figure>
      </div>
    </div>
  </div>
  <div class="set-featured-music-block">
    <p class="add-music-to-featured-signature">Add Artists to Featured:</p>
    <div class="add-artists-to-featured-block">
      <label for="artist-login-input-for-featured-artist" class="add-to-featured-music-label">Find artist to add to featured: </label>
      <input type="text" placeholder="Enter artist's name" id="artist-login-input-for-featured-artist" class="artist-login-input-for-featured-artist">
      <button class="find-artist-to-add-to-featured-button">Find</button>
    </div>
    <figure class="artist-successfully-found-block">
      <p style="margin-left: 20px; margin-right: 30px">Found: Maroon5</p>
      <button class="add-artist-to-featured-button">Add to Featured</button>
    </figure>
    <figure class="artist-not-found">Artist not found!</figure>
    <figure class="successfully-added-artist-to-featured-message">Successfully added artist to featured!</figure>
    <figure class="failed-to-add-artist-to-featured-message">Sorry, failed to add artist to featured!</figure>
    <p class="add-music-to-featured-signature">Add Albums to Featured:</p>
    <div class="add-albums-to-featured-block">
      <label for="artist-login-input-for-featured-album" class="add-to-featured-music-label">Find album to add to featured by artist: </label>
      <input type="text" placeholder="Enter artist's name" id="artist-login-input-for-featured-album" class="artist-login-input-for-featured-album">
      <button class="find-albums-of-artist-to-add-to-featured-button">Find</button>
    </div>
    <figure class="artist-not-found">Artist not found!</figure>
    <figure class="artist-found-block">
      <p class="found-artist-title">Found: Maroon5</p>
      <p style="margin-left: 20px">Albums:</p>
      <figure class="album-item">
        <p class="album-title">Title: Overexposed.</p>
        <p class="album-release-date">Release date: 2002.</p>
        <button class="add-to-featured-albums-button">Add to featured</button>
      </figure>
      <figure class="album-item">
        <p class="album-title">Title: Overexposed.</p>
        <p class="album-release-date">Release date: 2002.</p>
        <button class="add-to-featured-albums-button">Add to featured</button>
      </figure>
    </figure>
  </div>
</section>
