  <div class="banner-block">
    <div class="banner-picture"></div>
    <div class="banner-text">
      <h1 class="banner-heading">This Month's <span class="banner-heading-colored-text">Record Breaking Albums</span></h1>
      <p class="banner-description">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger,
        Endless Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</p>
      <div class="banner-links">
        <a routerLink="#" class="banner-link">Listen Now</a>
        <a routerLink="#" class="banner-link">Add To Queue</a>
      </div>
    </div>


  </div>
