.track-block {

  width: 500px;
  height: 80px;
  background-color: #1b2039;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.track-cover {

  margin-left: 10px;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  background-color: lightgrey;
  background-image: url("~src/assets/images/armin.jpg");
}

.track-title-and-release-date-block {

  margin-left: 10px;
  height: 60px;
}

.track-title, .track-release-date, .track-duration {

  font-family: "JosephinSansBold";
  color: #3bc8e7;
  font-size: 16px;
  margin: 0;
  width: 170px;

}

.track-release-date {

  margin-top: 5px;
}

.track-title {

  margin-top: 5px;
}

.track-release-date {

  font-family: "JosephinSansRegular";
}

.track-duration {

  width: 110px;
}

.more-functions-pic {

  cursor: pointer;
  margin: 0;
  height: 30px;
  width: 30px;
  background-image: url(~src/assets/images/more-functions-pic.png);
}
