<h5 class="week-top-15-songs-signature">Weekly Top 15 </h5>
<div class="top-15-tracks-block">
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
  <figure class="audiotrack">
    <audio src="rain.mp3" class="audiotrack-sound" controls="true"></audio>
    <figure class="audiotrack-number">01</figure>
    <figure class="audiotrack-picture" onclick="toggleAudiotrack(); changePicture()"></figure>
    <figure class="audiotrack-information">
      <p class="audiotrack-title">Until I met you</p>
      <p class="audiotrack-author">Ava Cornish</p>
    </figure>
    <figure class="audiotrack-length">5:10</figure>
    <button class="audiotrack-more-options-button"><img src="assets/icons/more-functions-picture.png"></button>
  </figure>
</div>
