.week-top-15-songs-signature {

  color: #3bc8e7;
  font-family: "JosephinSansSemiBold";
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 48px;
  position: relative;
  margin-top: 20px;
}

.week-top-15-songs-signature:after {

  content: " ";
  position: absolute;
  background-image: url("../../../assets/images/blue-divider.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: -15px;
}

.top-15-tracks-block {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1020px;
  height: 600px;
  margin-left: 20px;

}

.audiotrack {

  width: 430px;
  height: 61px;
  display: flex;
  position: relative;
  background-color: #14182a;
  align-items: center;
  padding-top: 8px;

}

.audiotrack-sound {

  display: none;
}

.audiotrack:after {

  content: " ";
  position: absolute;
  background-image: url(../../../assets/images/underlining.png);
  width: 510px;
  height: 1px;
  top: 83px;

}

.audiotrack-number {

  width: 40px;
  height: 40px;
  margin-left: 15px;
  text-shadow: 0 0 10px rgba(4, 4, 4, 0.2);
  color: #2f375d;
  font-family: "JosephinSansBold";
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;

}

.audiotrack-picture {

  width: 200px;
  height: 50px;
  background-color: #868891;
  border-radius: 5px;
  margin-left: 71px;
  cursor: pointer;
  background-image: url(../../../assets/images/armin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.audiotrack-picture:hover {

  background-image: url(../../../assets/images/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.audiotrack-information {

  font-family: "JosephinSansRegular";
  margin-left: 19px;
  width: 200px;
  font-size: 13px;
  color: #ffffff;
}

.audiotrack-title {

  font-size: 14px;
  font-weight: 700;
  margin: 0;

}

.audiotrack-author {

  margin: 0;
  margin-top: 5px;
}

.audiotrack-length {

  color: #ffffff;
  font-family: "JosephinSansRegular";
  font-size: 14px;
  font-weight: 400;

}

.audiotrack-more-options-button {

  margin-left: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
