<div class="registration-form-block">
  <div class="registration-form-headphones-pic"></div>
  <div class="registration-form-contents">
    <h5 class="registration-signature">Register / Sign Up</h5>
    <form class="registration-form">
      <input type="text" name="registration-name-input" placeholder="Enter Your Name" class="registration-name-input">
      <input type="email" name="registration-email-input" placeholder="Enter Your Email" class="registration-email-input">
      <input type="password" name="registration-password-input" placeholder="Enter Your Password" class="registration-password-input">
      <input type="password" name="registration-confirm-password-input" placeholder="Confirm Your Password" class="registration-confirm-password-input">
      <input type="submit" name="registration-submit-button" class="registration-submit-button" value="Register Now">
    </form>
    <p class="login-link">Already Have An Account?<button (click)="switchToLoginComponent()">Login Here</button></p>
  </div>
  <a class="close-button" (click)="closeRegistrationComponent()"><img src="assets/icons/close-button.png"></a>
</div>
