.track-page-container{

  min-height: 820px;
  background-image: url("../../../assets/images/track-page-background-picture.jpg");
  background-repeat: no-repeat;
  background-position-y: inherit;
  width: 100%;
}
.audiotrack {

  margin-top: 15px;

}

.track-price {

  font-size: 26px;
  font-family: JosephinSansBold;
  color: #fff;
  padding-bottom: 10px;
  margin: 0;
  position: absolute;
  top: 77%;
  left: 13%;
}
.add-to-cart-button {

  position: absolute;
  right: 20px;
  top: 10px;
  left: 5%;
  top: 77%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #3bc8e7;
  border: none;
  color: #ffffff;
  font-family: "JosephinSansRegular";
  font-size: 15px;
  font-weight: 400;
  margin-right: 20px;
  outline: none;

}

.add-to-cart-button:hover {

  color: #ffffff;
  box-shadow: 0px 0px 20px 0px #3bc8e7;
}

.track-info {

  padding-top: 40px;
  margin-left: 70px;
  display: flex;
  color: #fff;
  position: relative;
}

.track-cover {

  width: 240px;
  height: 240px;
  border-radius: 5px;
}

.track-info-contents {

  margin-left: 30px;
}

.track-title {

  font-size: 22px;
  font-family: JosephinSansBold;
  color: #fff;
  padding-bottom: 10px;
  margin: 0;
}

.track-author, .track-language, .track-length, .track-release-date, .track-genres {

  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: JosephinSansSemiBold;
}

.track-description {

  width: 70%;
  font-family: JosephinSansRegular;
}

.review_stars_wrap{
  overflow: hidden;
  position: absolute;
  left: 70%;
}
#review_stars {
  overflow: hidden;
  position: relative;
  float: left;
}
#review_stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
#review_stars input ~ label i{
  color:#ccc;
}
#review_stars input:checked ~ label i{
  color: #ec9801;
}
#review_stars label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#review_stars label:hover i, #review_stars label:hover ~ label i{
  color: #ec9801;
}

.similar-tracks-block {

  width: 1280px;
}

.album-page-comments-section {

  display: flex;
  margin-left: 40px;
}
.album-page-comments-signature {

  color: #3bc8e7;
  font-family: "JosephinSansSemiBold";
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  position: relative;
  margin-top: 20px;

}

.album-page-comments-signature:after {

  content: " ";
  position: absolute;
  background-image: url(../../../assets/images/blue-divider.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: -15px;
}

.album-page-comments-part {

  width: 600px;
}

.album-page-comments-form-text-input {

  width: 530px;
  height: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #777777;
  font-family: "JosephinSansRegular";
  font-size: 15px;
  outline: none;
  font-weight: 400;
  padding-top: 15px;
  padding-left: 19px;
  padding-right: 19px;

}

.album-page-comments-form-submit-button {

  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #3bc8e7;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "JosephinSansRegular";
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
.album-page-comment {

  width: 600px;
  margin: 0;
}
.album-page-comment-content {

  color: #dedede;
  font-family: "JosephinSansRegular";
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.album-page-comment-author-data{

  display: flex;
}
.album-page-comment-author-image {

  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px 60px ;
}

.album-page-comment-author-and-date-block {

  margin-left: 20px;
}

.album-page-comment-author-name {

  margin-right: 10px;
  color: #ffffff;
  font-family: "JosephinSansSemiBold";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.album-page-comment-date {

  color: #ffffff;
  font-family: "JosephinSansSemiBold";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
