<div class="track-page-container">
  <div class="track-info">
    <p class="track-price">5$</p>
    <button class="add-to-cart-button">Add To Cart</button>
    <div style="background-image: url(../../../assets/images/track-cover.jpg); width: 240px" class="track-cover"></div>
      <div class="track-info-contents">
        <h6 class="track-title">Let Me Love you</h6>
        <p class="track-author">By - Harry Jackson, Jennifer Kelly</p>
        <p class="track-release-date">Release Date: 09. 09. 2018</p>пше
        <p class="track-language">Language: English</p>
        <p class="track-length">Track Length: 5.10</p>
        <p class="track-genres">Genres: Pop, Indie-Pop, Hipster-Pop</p>
        <p class="track-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into</p>
        <audio controls class="audiotrack" download src=""></audio>
      </div>


</div>
  <similar-tracks class="similar-tracks-block"></similar-tracks>
  <section class="album-page-comments-section">
    <div class="album-page-comments-part">
      <h5 class="album-page-comments-signature">Comments</h5>
      <figure class="album-page-comment">
        <div class="album-page-comment-author-data">
          <img class="album-page-comment-author-image"src="assets/images/armin.jpg" >
          <div class="album-page-comment-author-and-date-block">
            <p class="album-page-comment-author-name">Alex Smith</p>
            <p class="album-page-comment-date">22. 06. 2019 19.00</p>
          </div>
        </div>
        <p class="album-page-comment-content">This is such an amazing track!</p>
      </figure>
    </div>
    <div class="album-page-comments-form-block">
      <h5 class="album-page-comments-signature">Leave your comment here...</h5>
      <form class="album-page-comments-form">
        <textarea class="album-page-comments-form-text-input" placeholder="Enter Your Comment Here..." maxlength="1024"></textarea>
        <input type="submit" class="album-page-comments-form-submit-button" value="Post Your Comment">
      </form>
    </div>
  </section>
</div>

